node_modules

internal/adapters/rest/autogen/*
internal/adapters/di/wire_gen.go

conf/config.yml
log/
bin/

tools/schema/drivers/
tools/schema/output/
tools/codegen/output/

.vscode
.VSCodeCounter
*.txt
*.exe